<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="hibernate.enable_lazy_load_no_trans">true</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">123</property>
        <property name="hibernate.connection.url">jdbc:mysql://52.117.236.126:3306/mysql</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.default_catalog">mysql</property>
        <property name="hibernate.default_schema">mysql</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
		<mapping class="com.bilgeadam.model.Araba" />
		<mapping class="com.bilgeadam.model.ArabaDetay" />
    </session-factory>
</hibernate-configuration>